{% extends 'IlcfranceResBundle::admin.tpl.html.twig' %}
{% block breadcrumb %}
<ol class="breadcrumb">
	<li class="active"><a href="{{ path('ilcfrance_stagiaire_passport_homepage') }}">{{ faIco('dashboard') }} {{'breadcrumb.admin.dasboard'|trans|raw}}</a></li>
</ol>
{% endblock breadcrumb %}
{% block main %}
				<div class="row">
					<div class="col-md-12">
						
					</div>
				</div>
{% endblock main %}
